*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0f2f6;
}
/* Todo el navbar */
    #deseas_vender{
        width: 100%;
        height: 2vh;
        background: #000000;
        color: white;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-family : Britannic Bold;
        font-size : 10px;
        color : #FbFbFb;
    }
    #nav_vendedor{
        width: 100%;
        height: 4vh;
        background: rgb(2,0,36);
        background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(14,14,47,1) 85%, rgba(47,118,133,1) 100%);
        display: flex;
        flex-direction: row;
    }
        .nav_vendedor_divs{
            width: 33.33%;
            height: 4vh;
            color: #FbFbFb;
            display:flex;
            align-items: center;

        }
        .links_nav_vendedor{
            text-decoration: none;
            color: #FbFbFb;
        }
        .titulos_nav_vendedor{
            font-family : Britannic;
            font-size : 16px;
            color : #FbFbFb;
        }
        .subtitulos_nav_vendedor{
            font-family : Britannic Bold;
            font-size : 14px;
            color : #FbFbFb;
        }
    #nav_buscador{
        width: 100%;
        height: 9vh;
        background-color:#ffffff;
        box-shadow : 0px 8px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: row;
    }   
        .nav_buscador_divs{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #nav_buscador_div_2{
            display: flex;
            flex-direction: column;
        }
        #nav_buscador_div_2:hover{
            box-shadow: 0 4px 0 0 #dfe2e4, 0px 4px 8px rgb(90 0 0 / 20%);
            cursor: pointer;
            border-radius: 8px;
            height: 8vh;
        }
        #pais{
            width: 100%;
            height: 4.5vh;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            font-family : impact;
            font-size : 18px;
            color : #0e0e2f;
            
        }
        #nombre_empresa{
            width: 100%;
            height: 4.5vh;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            font-family : Britannic Bold;
            font-size : 16px;
            color : #0e0e2f;
        }
        #buscador{
            width: 96%;
            height: 6vh;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: #FFFFFF;
            border: none;
            border-radius: 8px;
            box-shadow: 0 4px 0 0 #dfe2e4, 0px 4px 8px rgb(90 0 0 / 20%);
            color: #394754;
            font: 14px cerapro, arial, sans-serif;
            opacity: 70%;
        }
        #buscador:hover{
            box-shadow: 0 8px 0 0 #dfe2e4, 0px 8px 16px rgb(90 0 0 / 20%);
            color: black;
        }
            #icon_buscador{
                width: 20%;
                height: 6vh;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            #input_buscador{
                width: 80%;
                height: 6vh;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            #input_buscador_2{
                width: 70%;
                height: 6vh;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            
    #logotipo{
        max-width: 50px;
        max-height: 50px;
    }
    #box_logotipo_1{
        width: 10px;
        height: 10px;
        position: absolute;
        top: 9%;
        left: 4.5%;
        animation-name: box_logotipo_1;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    #box_logotipo_2{
        width: 9px;
        height: 9px;
        position: absolute;
        top: 8.6%;
        left: 4.7%;
        animation-name: box_logotipo_2;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    #box_logotipo_3{
        width: 8px;
        height: 8px;
        position: absolute;
        top: 8.3%;
        left: 4.9%;
        animation-name: box_logotipo_3;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    @keyframes box_logotipo_2 {
        0%      {opacity: 100%;}
        25%     {opacity: 50%;}
        50%     {opacity: 0%;}
        75%     {opacity: 50%;}
        100%     {opacity: 100%;}
    }
    @keyframes box_logotipo_3 {
        0%      {opacity: 0%;}
        25%     {opacity: 50%;}
        50%     {opacity: 100%;}
        75%     {opacity: 50%;}
        100%     {opacity: 0%;}
    }
    @keyframes box_logotipo_1 {
        0%      {opacity: 0%;}
        25%     {opacity: 0%;}
        50%     {opacity: 0%;}
        75%     {opacity: 50%;}
        100%     {opacity: 100%;}
    }
    #logotipo:hover{
        box-shadow: 0 4px 0 0 #dfe2e4, 0px 4px 8px rgb(90 0 0 / 20%);
        cursor: pointer;
        border-radius: 131px;
    }
            #btn_pedidos{
                width: 55%;
                height: 6vh;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background-color: #FFFFFF;
                border: none;
                border-radius: 8px;
                box-shadow: 0 4px 0 0 #dfe2e4, 0px 4px 8px rgb(90 0 0 / 20%);
                color: #394754;
                font: 16px impact, arial, sans-serif;
            }
            #btn_compras{
                width: 55%;
                height: 6vh;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background-color: #FFFFFF;
                border: none;
                border-radius: 8px;
                box-shadow: 0 4px 0 0 #dfe2e4, 0px 4px 8px rgb(90 0 0 / 20%);
                color: #394754;
                font: 16px impact, arial, sans-serif;
            }
            #btn_pedidos:hover{
                box-shadow: 0 8px 0 0 #dfe2e4, 0px 8px 0px rgb(90 0 0 / 20%);
                color: black;
            }
            #btn_compras:hover{
                box-shadow: 0 8px 0 0 #dfe2e4, 0px 8px 16px rgb(90 0 0 / 20%);
                color: black;
            }
            #btn_carrito{
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background-color: #FFFFFF;
                border: none;
                border-radius: 131px;
                box-shadow: 0 4px 0 0 #dfe2e4, 0px 4px 8px rgb(90 0 0 / 20%);
                color: #394754;
                font: 16px impact, arial, sans-serif;
            }
            #btn_carrito:hover{
                box-shadow: 0 6px 0 0 #dfe2e4, 0px 6px 12px rgb(90 0 0 / 20%);
                color: black;
            }
            #numero_btn_carrito{
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                border-radius: 131px;
                font: 8px impact, arial, sans-serif;
                background-color: red;
                color: #ffffff;
                position: absolute;
                top: 7%;
                left: 95%;
            }
/* Todo el navbar */
/* Carrusel */
    #carrusel{
        width:100%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        #espacio_sombra{
            width:100%;
            height: 2vh;
        }
        #titulos_Ofertas{
            width:96%;
            height: 8vh;
            transition-property: opacity, left;
            transition-duration: 3s, 5s;
            position: relative;
            animation-name: titulos_Ofertas;
            animation-duration: 10s;
            color: #394754;
            font: 14px cerapro, arial, sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align:center;
        }
        @keyframes titulos_Ofertas{
            0%   {left:100%; top:0px;}
            100% {left:0px; top:0px;}
        }
        #carrusel_divs{
            width:100%;
            height: 30vh;
            display: flex;
            flex-direction: row;        
        }
        
        #carrusel_divs_2{
            width:100%;
            height: 30vh;
            overflow: auto;
            scrollbar-color: #09C transparent;
            scrollbar-width: thin;
            display: flex; 
            flex-direction: row;
        }
        #carrusel_divs_2::-webkit-scrollbar {
            height: 1px;
            width: 1px;
        }
        #carrusel_divs_2::-webkit-scrollbar-track {
            background-color: transparent;
        }
        #carrusel_divs_2::-webkit-scrollbar-thumb {
            background-color: #f0f2f6;
        }
        .divs_imgs_carrusel_1{
            width:25vh;
            height: 25vh;
            margin: 2.5vh;
            background-color:red;
        }
        .divs_imgs_carrusel_2{
            width:25vh;
            height: 25vh;
            margin: 2.5vh;
            background-color:blue;
        }
        .divs_imgs_carrusel{
            width:25vh;
            height: 25vh;
        }

/* Carrusel */

/* Escritorio */
    @media (min-width: 1201px){ 
        .nav_vendedor_divs{
            margin-left:10%;
        }
        #nav_buscador_div_1{
            width: 10%;
            height: 9vh;
        }
        #nav_buscador_div_2{
            width: 10%;
            height: 9vh;
        }
        #nav_buscador_div_3{
            width: 30%;
            height: 9vh;
        }
        #nav_buscador_div_4{
            width: 20%;
            height: 9vh;
        }
        #nav_buscador_div_5{
            width: 20%;
            height: 9vh;
        }
        #nav_buscador_div_6{
            width: 10%;
            height: 9vh;
        }
        #logo{
            width: 50px;
            height: 50px;
        }
        #img_logo{
            width: 50px;
            height: 50px;    
        }
        #input_buscador_2{
            display: none;
        }
        #icon_carrito{
            width: 24px;
            height: 24px;
        }
        #carrusel_divs_2::-webkit-scrollbar {
            height: 10px;
            width: 1px;
        }
        #carrusel_divs_2::-webkit-scrollbar-thumb {
            background-color: #dddfe1;
        }
    }
/* Tablet */
    @media (min-width: 701px) and (max-width: 1200px) { 
        .nav_vendedor_divs{
            margin-left:5%;
        }
        #nav_buscador_div_1{
            width: 10%;
            height: 9vh;
        }
        #nav_buscador_div_2{
            width: 10%;
            height: 9vh;
        }
        #nav_buscador_div_3{
            width: 26%;
            height: 9vh;
        }
        #nav_buscador_div_4{
            width: 22%;
            height: 9vh;
        }
        #nav_buscador_div_5{
            width: 22%;
            height: 9vh;
        }
        #nav_buscador_div_6{
            width: 10%;
            height: 9vh;
        }
        #logo{
            width: 60px;
            height: 60px;
        }
        #input_buscador_2{
            display: none;
        }
        #logotipo{
            max-width: 80px;
            max-height: 80px;
        }
        #box_logotipo_1{
            width: 10px;
            height: 10px;
            top: 9.3%;
            left: 4.2%;
        }
        #box_logotipo_2{
            width: 9px;
            height: 9px;
            top: 9%;
            left: 4.6%;
        }
        #box_logotipo_3{
            width: 8px;
            height: 8px;
            top: 8.7%;
            left: 5%;
        }
        #btn_pedidos{
            width: 96%;
            font: 18px impact, arial, sans-serif;
        }
        #btn_compras{
            width: 96%;
            font: 18px impact, arial, sans-serif;
        }
        #btn_carrito{
            width: 60px;
            height: 60px;
        }
        #numero_btn_carrito{
            left: 95%;
            top: 8%;
            width: 27px;
            height: 27px;
            font: 10px impact, arial, sans-serif;
        }
        #icon_carrito{
            width: 28px;
            height: 28px;
        }

    }

/* Celular normal */
    @media (min-width: 301px) and (max-width: 700px) { 
        .nav_vendedor_divs{
            margin-left:0%;
            
        }
        #nav_vendedor_divs_1{
            width: 33%;
        }
        #nav_vendedor_divs_2{
            width: 40%;
            display:flex;
            align-items: center;
            justify-content: flex-end;
        }
        #nav_vendedor_divs_3{
            width: 27%;
        }
        .titulos_nav_vendedor{
            display:none;   
        }
        #nav_buscador_div_1{
            width: 10%;
            height: 9vh;
        }
        #nav_buscador_div_2{
            width: 20%;
            height: 9vh;
        }
        #nav_buscador_div_3{
            width: 25%;
            height: 9vh;
        }
        #nav_buscador_div_4{
            width: 15%;
            height: 9vh;
        }
        #nav_buscador_div_5{
            width: 15%;
            height: 9vh;
        }
        #nav_buscador_div_6{
            width: 15%;
            height: 9vh;
        }
        #logo{
            width: 32px;
            height: 32px;
        }
        #pais{
            height: 3vh;
            font-size : 16px;
        }
        #nombre_empresa{
            font-size : 14px;
        }
        #icon_buscador{
            width: 30%;
            height: 6vh;
        }
        #input_buscador{
            display: none;
        }
        #logotipo{
            max-width: 32px;
            max-height: 32px;
        }
        #box_logotipo_1{
            width: 7px;
            height: 7px;
            top: 9.5%;
            left: 4%;
        }
        #box_logotipo_2{
            width: 6px;
            height: 6px;
            top: 9.2%;
            left: 4.4%;
        }
        #box_logotipo_3{
            width: 5px;
            height: 5px;
            top: 8.9%;
            left: 4.8%;
        }
        #btn_pedidos{
            width: 96%;
            font: 9px impact, arial, sans-serif;
            display: flex;
            flex-direction: column;
            
        }
        #texto_pedidos_compras{
            width: 100%;
            height: 3vh;
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }
        #icon_pedidos_compras{
            width: 100%;
            height: 3vh;
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }
        #btn_compras{
            width: 96%;
            font: 9px impact, arial, sans-serif;
            display: flex;
            flex-direction: column;
        }
        #numero_btn_carrito{
            top: 7.2%; 
            left: 92%;
        }
    }
/* celular pequeño de 0 a 300px*/
    @media (max-width: 300px) { 
        .nav_vendedor_divs{
            margin-left:0%;
            
        }
        #nav_vendedor_divs_1{
            width: 40%;
            display:flex;
            align-items: center;
            justify-content: center;
        }
        #icon_down{
            display: none;
        }
        #nav_vendedor_divs_2{
            width: 60%;
            display:flex;
            align-items: center;
            justify-content: center;
        }
        #nav_vendedor_divs_3{
            display: none;
            
        }
        .titulos_nav_vendedor{
            display:none;   
        }
        #nav_buscador_div_1{
            width: 10%;
            height: 9vh;
        }
        #nav_buscador_div_2{
            width: 20%;
            height: 9vh;
        }
        #nav_buscador_div_3{
            width: 25%;
            height: 9vh;
        }
        #nav_buscador_div_4{
            width: 15%;
            height: 9vh;
        }
        #nav_buscador_div_5{
            width: 15%;
            height: 9vh;
        }
        #nav_buscador_div_6{
            width: 15%;
            height: 9vh;
        }
        #logo{
            width: 25px;
            height: 25px;
        }
        #pais{
            height: 3vh;
            font-size : 12px;
        }
        #nombre_empresa{
            font-size : 10px;
        }
        #icon_buscador{
            width: 30%;
            height: 6vh;
        }
        #input_buscador{
            display: none;
        }
        #logotipo{
            max-width: 25px;
            max-height: 25px;
        }
        #box_logotipo_1{
            width: 5px;
            height: 5px;
            top: 9.5%;
            left: 3.8%;
        }
        #box_logotipo_2{
            width: 4px;
            height: 4px;
            top: 9.2%;
            left: 4.2%;
        }
        #box_logotipo_3{
            width: 3px;
            height: 3px;
            top: 8.9%;
            left: 4.6%;
        }
        #btn_pedidos{
            width: 96%;
            font: 7px impact, arial, sans-serif;
            display: flex;
            flex-direction: column;
            
        }
        #texto_pedidos_compras{
            width: 100%;
            height: 3vh;
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }
        #icon_pedidos_compras{
            width: 100%;
            height: 3vh;
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }
        #btn_compras{
            width: 96%;
            font: 7px impact, arial, sans-serif;
            display: flex;
            flex-direction: column;
        }
        #numero_btn_carrito{
            top: 7%; 
            left: 92%;
        }
        #btn_carrito{
            width: 38px;
            height: 38px;
        }
        #titulos_Ofertas{
            font: 11px cerapro, arial, sans-serif;
        }
    }